In [23]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
from datetime import datetime
import time
import sys
import json
import psycopg2
import redis

In [24]:
reload(sys)
sys.setdefaultencoding('utf8')

In [36]:
table_withTagValue = pd.read_excel("TAG_Value_DOWNLOAD.xlsx")
table_withTagValue = table_withTagValue.reset_index(drop=True)

In [37]:
import psycopg2
# connect PostgreSQL
conn = psycopg2.connect(database = "MJ",
                        host = "localhost",
                        user = "llc",
                        password = "")
cur = conn.cursor()

In [150]:
def tag_db_query(TAG_VALUE, sql_db):
    SQL = "SELECT tag_info FROM offer_db WHERE tag_info->>'Tag_value' = '{}';".format(TAG_VALUE)
    sql_db.execute(SQL)
    records = sql_db.fetchall()[0][0]
    return records

In [39]:
tag_db_query(1,cur)['offer_list']

[u'1_WomanEcard.png',
 u'5_DreamEcard.png',
 u'6_CardAddFriend.png',
 u'12_WeddingLN.png',
 u'4_InvitMovie.png',
 u'7_AndroidPay.png',
 u'8_FX_NBOpen.png',
 u'3_NB_FXTrade.png',
 u'17_FundPopular.png',
 u'10_Ecard.png']

In [210]:
table_withTagValue.head()

   ID    UTID  TAG_VALUE
0   1  SEG001          1
1   2  SEG001          2
2   3  SEG001          3
3   4  SEG001          4
4   5  SEG001          5

In [218]:
def getTagValue(ID, tagID):
    for i in range(len(table_withTagValue)):
        if table_withTagValue['ID'][i] == ID and table_withTagValue['UTID'][i] == tagID:
            return table_withTagValue['TAG_VALUE'][i]
        
def getOffer(TAG_VALUE):
    return tag_db_query(TAG_VALUE, cur)['offer_list']

getOffer(getTagValue(1,'SEG001'))

[u'1_WomanEcard.png',
 u'5_DreamEcard.png',
 u'6_CardAddFriend.png',
 u'12_WeddingLN.png',
 u'4_InvitMovie.png',
 u'7_AndroidPay.png',
 u'8_FX_NBOpen.png',
 u'3_NB_FXTrade.png',
 u'17_FundPopular.png',
 u'10_Ecard.png']

In [ ]:
import redis
a = redis.StrictRedis(host='localhost', port=6379, db=0)

for i in range(len(table_withTagValue)):
    a.set(table_withTagValue['ID'][i],      )

In [219]:
unique_ID = list(np.unique(table_withTagValue['ID']))

In [197]:
temp_detail[1]

[u'1_WomanEcard.png',
 u'5_DreamEcard.png',
 u'6_CardAddFriend.png',
 u'12_WeddingLN.png',
 u'4_InvitMovie.png',
 u'7_AndroidPay.png',
 u'8_FX_NBOpen.png',
 u'3_NB_FXTrade.png',
 u'17_FundPopular.png',
 u'10_Ecard.png']

In [200]:
a.get(3)

"[u'17_FundPopular.png', u'9_OnlineCTI.png', u'14_Parking.png', u'2_FX_EUR.png', u'8_FX_NBOpen.png', u'13_Airport.png', u'15_FX_ATM.png', u'16_FX_Insurance.png', u'3_NB_FXTrade.png', u'11_ECardLoan.png']"

In [ ]:
#Get unique png
output = []
for x in temp_detail[table_withTagValue['ID'][i]]:
    if x not in output:
        output.append(x)
output